<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/head.html :: fragment-head"></div>
    <script src="/js/room.js" defer></script>
</head>

<body>

<div th:replace="/fragments/header.html :: fragment-header"></div>

<section class="sections">
    <!--Logo-->
    <img src="/img/logo.png" alt="Logo" class="logo" />

    <!--Buttons-->
    <section class="buttons">
        <section class="button-group-prepend">
            <button class="btn colorBtn" data-key="category" data-value="cgChat">
                수다
            </button>
            <button class="btn colorBtn" data-key="category" data-value="cgGame">
                게임
            </button>
            <button class="btn colorBtn" data-key="category" data-value="cgStudy">
                공부
            </button>
            <button class="btn colorBtn" data-key="category" data-value="cgAni">
                애니
            </button>
            <button class="btn colorBtn" data-key="category" data-value="cgMeet">
                모임
            </button>
            <button class="btn colorBtn" data-key="category" data-value="cgShop">
                쇼핑
            </button>
        </section>
        <section>
            <button id="open" class="btn colorBtn" data-key="color">
                채팅방 생성
            </button>
        </section>
    </section>

    <div class="modal-wrapper" style="display: none;">
        <div class="modal">
            <div class="modal-title">채팅방 생성</div>
            <form id="room-create-form">
                <select id="room-category">
                    <option value="cgChat">수다</option>
                    <option value="cgGame">게임</option>
                    <option value="cgStudy">공부</option>
                    <option value="cgAni">애니</option>
                    <option value="cgMeet">모임</option>
                    <option value="cgShop">쇼핑</option>
                </select>
                <div class="input-group-prepend">
                        <input id="room-name" type="text" class="modal-input" placeholder="채팅방 이름을 입력하세요.">
                        <div class="input-group-append">
                            <button class="btn modal-send-btn" type="button" onclick="Room.createRoom();">등록</button>
                        </div>
                </div>
            </form>
            <div class="close-wrapper">
                <button id="close" class="btn modal-close-btn">Close</button>
            </div>
        </div>
    </div>
    <!--Items-->
    <ul class="items"></ul>
</section>

</body>
</html>
