version: '3.9'
services:
  redis:
    image: redis:5-alpine
    container_name: redis
    restart: always
    ports:
      - 6379:6379
  mysql:
    image: mysql:5.7
    container_name: mysql
    environment:
      MYSQL_DATABASE: chat
      MYSQL_ROOT_PASSWORD: password
      MYSQL_ROOT_HOST: '%'
    ports:
      - 3306:3306
    restart: always
    volumes:
      - ./database/chat/:/var/lib/mysql

  spring:
    container_name: chatapp
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      MYSQL_URL: jdbc:mysql://mysql:3306/chat?allowPublicKeyRetrieval=true&useSSL=false
      MYSQL_USERNAME: root
      MYSQL_PASSWORD: password
    ports:
    - 8080:8080
    restart: always
    depends_on:
      - mysql
