server:
  port: 8082
spring:
  jpa:
    show-sql: true
    generate-ddl: true
    database: mysql
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/chat?allowPublicKeyRetrieval=true&useSSL=false
    username: root
    password: password
  thymeleaf:
    cache: false
  redis:
    host: 127.0.0.1
    port: 6379
    lettuce:
      pool:
        max-active: 10
        max-idle: 10
        min-idle: 2
  jwt:
    secret: c2VjcmV0a2V5