<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/loginForm.css}" />
    <title>Join</title>
</head>
<body>

<form th:object="${memberDto}" th:action="@{/setting/regMember}" th:method="post" class="loginForm">
    <h2>Sign Up</h2>
    <div class="idForm"><label>아이디
        <input type="text" th:field="*{memberId}" class="id">
    </label></div>
    <div class="passForm"><label>비밀번호
        <input type="password" th:field="*{memberPw}" class="pw">
    </label></div>
    <button type="submit" class="btn">저장</button>
</form>

</body>
</html>