<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="fragment-head">
    <title>Thymeleaf Fragment</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Chatting</title>

    <script src="/webjars/jquery/3.6.0/jquery.js"></script>
    <script src="/webjars/momentjs/2.29.1/moment.js"></script>

    <script src="/js/common.js" defer></script>
    <script src="/js/sweetalert.min.js" defer></script>

</head>

</html>