:root {
    /* color */
    --color-black: #3f454d;
    --color-white: #ffffff;
    --color-green: #a0d468;
    --color-purple: #ac92ec;
    --color-mint: #48cfad;
    --color-blue: #3b88c3;
    --color-yellow: #fbbe28;
    --color-pink: #fd7f84;
    --color-light-grey: #dfdfdf;
    --color-dark-grey: #808080;
    --color-ivory-color: #dadafc;
    --color-light-red: #e5c1c5;
    --color-light-navy: #6eceda;
    --color-dark-ivory: #b57fb3;
    --color-dark-navy: #98acf8;

    /* size */
    --base-space: 8px;
    --base-hundred: 100px;
    --size-button: 60px;
    --size-border: 4px;
    --size-thumbnail: 50px;
    --font-size: 18px;
    --border-size : 1px;

    /* animation */
    --animation-duration: 300ms;
}

* {
    box-sizing: border-box;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}


body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--color-light-red);
}

.headers {
    height: 8%;
}

.in-headers {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
}

.header-user {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-purple);
}

.header-logout {
    margin-right: 10px;
}

.icon-logout {
    width: 40px;
    height: 40px;
}

.icon-out {
    width: 18px;
    height: 16px;
}

.sections {
    height: 550px;
    width: 70%;
    display: flex;
    margin : 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-group-prepend {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.sections-top {
    margin-top: 30px;
    padding-bottom: 30px;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.delete-prepend {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-section {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.participant-section {
    border-left: var(--border-size) solid var(--color-light-grey);
    background-color: white;
    height: 100%;
    width: 10%;
}

.logo {
    width: var(--base-hundred);
    height: var(--base-hundred);
    padding-bottom: var(--base-space);
}

.btn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: transform var(--animation-duration) ease;
    margin-right: var(--base-space);
}

.btn:hover {
    transform: scale(1.1);
}

.buttons {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.imgBtn {
    width: var(--size-button);
    height: var(--size-button);
}

.colorBtn {
    font-size: var(--font-size);
    padding: calc(var(--base-space) * 2);
    border-radius: var(--size-border);
    background-color: var(--color-ivory-color);
}

.colorBtn:hover {
    background-color: var(--color-dark-ivory);
}

.modal-send-btn{
    font-size: 16px;
    background-color: var(--color-ivory-color);
    border-radius: var(--size-border);
    height: 35px;
}

.items {
    width: 60%;
    height: 60%;
    list-style: none;
    padding-left: 0;
    overflow-y: auto;
}

.item {
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    padding: var(--base-space);
    margin-bottom: var(--base-space);
}

.item__thumbnail {
    width: var(--size-thumbnail);
    height: var(--size-thumbnail);
}

.item__description {
    margin-left: var(--base-space);
    font-size: var(--font-size);
}

.item_createdDate {
    color: var(--color-dark-grey);
    cursor: pointer;
}

.item_name {
    margin-right: 5px;
    cursor: pointer;
}

.lists {
    background-color: var(--color-white);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.participant-list {
    height: 100%;
}

.panel-primary {
    height: 100%;
}

.list-top {
    height: 6%;
    background-color: #b5b9ff;
    display: flex;
    flex-direction: row;
    justify-content : flex-end;
    align-items: center;
    border-bottom: var(--border-size) solid var(--color-light-grey);
}

.panel-heading {
    background-color: #b5b9ff;
    height: 14%;
    display: flex;
    justify-content : center;
    align-items: center;
    border-bottom: var(--border-size) solid var(--color-light-grey);
}

.participant-users {
    overflow-y: auto;
}

.userCntBtn {
    background-color: transparent;
    border: none;
    outline: none;
    width: 33px;
    height: 100%;
}

.iconUserCnt {
    width: 18px;
    height: 16px;
    margin-left: 10px;
    padding-right: 0px;
}

.user-out-btn {
    width: 33px;
    height: 100%;
}

.listRoomName {
    background-color: var(--color-ivory-color);
    height: 10%;
    display: flex;
    justify-content : center;
    align-items: center;
    border-bottom: var(--border-size) solid var(--color-light-grey);
}

.listMessageGroup {
    height: 500px;
    overflow-y: auto;
}

.listMessageForm {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: flex-end;
    background-color: var(--color-white);
}

.listInputMessageWrap {
    height: 100%;
    width: 90%;
}

.listPushArea {
    border: 0px;
    height: 100%;
    width: 100%;
    resize: none;
    overflow-y: auto;
    font-size: calc(var(--base-space) - 4 );
    border-top: var(--border-size) solid var(--color-light-grey);
}

.listSendMessageWrap {
    height: 100%;
    width: 10%;
}

.listSendButton {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background: white;
    padding: 24px 16px;
    border-radius: 4px;
    width: 500px;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.modal p {
    font-size: 16px;
}

.close-wrapper {
    text-align: right;
}

.modal-input-name {
    margin-left: 46px;
    height: 30px;
    width: 200px;
}

.modal-input-pw {
    margin-left: 15px;
    height: 30px;
    width: 200px;
}

.input-group-prepend {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.input-group-append {
    display: flex;
    justify-content: center;
    align-items: center;
}

button.img-button{
    border: none;
    background: url("/img/room_search2.png") no-repeat transparent;
    border: none;
    font-size: x-small;
    width: 32px;
    height: 28px;
    cursor: pointer;
}

select {
    border: none;
    outline: none;
    width: 80px;
    font-size: 1.125rem;
    font-weight: 200;
    background: transparent;
    color: black;
}

.keyword{
    border : none;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
    width: 150px;
    color: black;
    font-size: 1.063rem;
    font-family: 'Malgun Gothic';
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size);
}

.paginationBox {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.page-item {
    margin-right: 10px;
}

.create-room-section {
    height: 50px;
}

.primary-font {
    margin-right: 5px;
}

.error-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-content  {
    font-size: 14px;
    font-weight: lighter;
    line-height:25px;
    font-family: 돋음, Dotum, Baekmuk Dotum, Undotum, Apple Gothic, Latin font, sans-serif;
}